@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,600;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed";
}

.page {
  width: 100%;
  min-height: 100vh;
}

.offerpage {
  background: rosybrown;
}

.testimonial-page {
  background: #abc4d4;
}

.news-page {
  background: white;
}

.form-page {
  background: burlywood;
}

.page-container {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.testimonial-page-container {
  justify-content: space-evenly;
}

.news-page-container {
  justify-content: space-evenly;
}

.formpage-container {
  justify-content: center;
}

.offercard-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 40vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.header {
  max-width: 600px;
  width: 90%;
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0.6rem auto;
}

.description {
  max-width: 600px;
  width: 90%;
  margin: 0.5rem auto;
  font-size: 1.3rem;
}

.services {
  font-size: 0.8rem;
  color: white;
  padding: 0.7rem 1.4rem;
  background: blue;
  border: none;
  border-radius: 5em;
  transition: 0.3s ease;
}

.services:hover {
  background: #0000a0;
  cursor: pointer;
}

.testimonialcard-container {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 40vh;
}

.newscard-container {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 40vh;
}

.formcard-container {
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.form-intro {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
